body {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  height: 100%;
  padding: 10px;
  font-family: 'Raleway', italic;
}
/*Header Section*/
header {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 25px;
  justify-content: space-between;
}
  .logo {
      height: 100%;
      width: auto;
  }
    .tMenu ul {
      width: auto;
      list-style-type: none;
    }
      .tMenu li {
        display: inline;
        padding: 10px;
      }
        .tMenu a {
          color: #0065FC;
          text-decoration: none;
        }
        .tMenu a:hover {
          color: #0065FC;
          padding-top: 23px;
          border-top: 3px solid #0065FC;
        }
/*Location Section*/
.location {
  width: 500px;
  margin: 0;
}
  .location p {
    margin: 0;
  }
  .locate-block {
    display: inline-flex;
    border-radius: 10px;
  }
    .map-button {
      margin: 0;
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 9px 0 0 9px;
      background-color: #F2F2F2;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../utils/icons/location.svg")
    }
    .youAt {
      border: none;
      width: 200px;
      background-color: white;
      background-position: 10px 10px;
      background-repeat: no-repeat;
      border: 1px solid #F2F2F2;
    }
    .search {
      background-color: #0065FC;
      color: white;
      height: auto;
      width: auto;
      margin-right: 0;
      border: none;
      border-radius: 0 9px 9px 0;
    }
/*Filter Section*/
.filcon {
  margin: 0;
  font-size: 13px;
}
  .filcon ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
  }
    .filcon li {
      display: flex;
      flex-flow: row nowrap;
      text-align: center;
      width: auto;
      height: 30px;
      margin-right: 15px;
      padding-right: 15px;
      padding-left: 10px;
      border: 2px solid lightGray;
      border-radius: 25px;
      font-weight: bold;
      line-height: 2.2;
    }
    .filcon li:first-of-type {
      border: none;
    }
      .filcon li > img {
        position: relative;
        height: 33px;
        width: 33px;
        margin: -2px -2px -2px -20px;
        background-color: lightBlue;
        border-radius: 50%;
      }
/*DISCLAIMER*/
.claim {
  font-size: 8px;
  margin-bottom: 10px;
}
  .claim a {
    border: 1px solid lightGray;
    padding: 2px 6px 2px 6px;
    margin-right: 5px;
    border-radius: 50%;
    font-weight: bold;
    text-decoration: none;
    color: blue;
  }
/*Result Section*/
.results {
  display: inline-flex;
  justify-content: space-between;
  align-content: stretch;
  padding: 5px;
  margin-right: 15px;
  width: 100%;
}
  .results h3 {
    font-size: 14px;
    padding: 5px;
  }
/*LOCAL Accomodations Section*/
  .local {
    flex-flow: row;
    line-height: 3px;
    width: auto;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0;
    margin-right: 10px;
  }
    .locaBlk {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 35%;
    }
      .locaBlk ul {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        width: 30%;
        height: auto;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        list-style: none;
        padding: 1px;
        border-radius: 10px;
        background-color: white;
      }
        .locaBlk li {
          height: auto;
          font-size: 10px;
          line-height: 0.5;
        }
          .locaCont {
            display: flex;
            flex-direction: column;
            padding-top: 7px;
            margin-left: 5px;
            margin-bottom: 5px;
          }
          .locaBlk_img {
            display: flex;
            width: 100%;
            height: auto;
            border-radius: 10px 10px 0 0;
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: center;
            background-size: cover;
            margin: 0;
            padding: 0 0 75px 0;
          }
/*Most Popular section*/
  .MP {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0;
  }
    .MP ul {
      display: flex;
      flex-flow: column;
      text-decoration: none;
      list-style: none;
      margin: 10px;
      padding: 1px;
      width: 94%;
      height: 20%;
      position: relative;
      overflow: hidden;
      text-decoration: none;
      list-style: none;
      border-radius: 10px;
      background-color: white;
      line-height: 0.5;
    }
      .MP li {
        display: flex;
        flex-flow: row;
        width: auto;
        height: 100%;
        margin: 1px;
        padding: 1px;
      }
        .MP_cont {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-evenly;
          font-size: 10px;
          padding-left: 5px;
          font-size: 10px;
        }
          .MP_cont p {
            margin-top: 2px;
            line-height: 1;
          }
        .MP_img {
          height: auto;
          width: auto;
          margin: 0;
          border-radius: 10px 0 0 10px;
          padding: 0 50px 0 0;
          background-repeat: no-repeat;
          background-attachment: inherit;
          background-position: center;
          background-size: cover;
          background-color: black;
        }
/*STARS*/
          .stars {
            display: inline;
            color: #0065FC;
            font-style: inherit;
            padding-bottom: 1px;
          }
/*Activities section*/
  .Activities {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 400px;
    padding: 10px;
    margin-left: 0;
  }
  .Activities h3 {
    font-size: 14px;
    padding: 5px;
  }
    .Acts {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-height: 100%;
      margin: 0;
    }
      .Act {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        width: 24%;
        border-radius: 10px;
        box-shadow: 3px 3px 10px #000;
        overflow: hidden;
      }
        .Act div {
          max-height: 100%;
          width: 100%;
          position: relative;
          border-radius: 10px;
          background-repeat: no-repeat;
          background-attachment: inherit;
          background-position: center;
          background-size: cover;
        }
        .Act p {
          font-size: 10px;
          font-weight: bold;
          width: 100%;
          padding-left: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
          margin-top: 0;
          margin-bottom: auto;
          background-color: #fff;
        }
      .A1 {
        height: 300px;
      }
      .A2 {
        height: 150px;
      }
      .A3 {
        height: 100px;
      }
      .A4 {
        height: 300px;
      }
      .A5 {
        height: 130px;
      }
      .A6 {
        height: 130px;
      }
