
body {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  height: 100%;
  font-family: 'Raleway', italic;
}

/* HEADER section */
header {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
  .logo {
    height: 100%;
    width: 55%;
  }
  .sign_up {
  }
    .sign_up a {
      display: flex;
      justify-content: flex-end;
      margin-top: 5px;
      font-size: 3em;
      text-decoration: none;
      color: #0065FC;
    }
  .tMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 5px solid lightGray;
    font-size: 3em;
  }
    .tAmenu a {
      width: 50%;
      text-decoration: none;
    }
      .tAmenu a:hover {
        color: #0065FC;
        border-bottom: 5px solid #0065FC;
      }
    .tBmenu a {
      width: 50%;
      text-decoration: none;
    }
      .tBmenu a:hover {
        color: #0065FC;
        border-bottom: 5px solid #0065FC;
      }

/* LOCATION section */
.location {
  align-items: center;
}
  .location h3 {
    font-size: 4em;
  }
  .location p {

  }
  .locate-block {
    display: inline-flex;
    border-radius: 10px;
    margin-left: 30px;
  }
    .map-button {
      margin: 0;
      height: 100px;
      width: 100px;
      border: none;
      border-radius: 9px 0 0 9px;
      background-color: #F2F2F2;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../utils/icons/location.svg")
    }
    .youAt {
      width: 350px;
      border: none;
      background-color: white;
      background-position: 10px 10px;
      background-repeat: no-repeat;
      border: 1px solid #F2F2F2;
    }
    .search {
      background-color: #0065FC;
      color: white;
      height: auto;
      width: 100px;
      margin-right: 0;
      border: none;
      border-radius: 0 9px 9px 0;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../utils/icons/search.svg")
    }

/* FILTER section */
.filcon {
  margin: 0;
  font-size: 13px;
}
  .filcon ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
  }
    .filcon li {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      width: 200px;
      height: 60px;
      margin-right: 15px;
      padding-right: 15px;
      padding-left: 10px;
      border: 2px solid lightGray;
      border-radius: 25px;
      font-weight: bold;
      font-size: 3em;
    }
    .filcon li:first-of-type {
      border: none;
    }
      .filcon li > img {
        position: relative;
        height: 66px;
        width: 66px;
        margin: -2px -2px -2px -20px;
        background-color: lightBlue;
        border-radius: 50%;
      }
.claim {

}
  .claim a {

  }

/* RESULT section */
.results {

}
/* LOCAL */
  .local {

  }
    .local h3 {

    }
    .locaBlk {

    }
      .locaBlk ul {

      }
        .locaBlk li {

        }
          .locaBlk_img {

          }
          .locaCont {

          }
            .locaCont b {

            }
            .locaCont p {

            }
/* STARS */ .stars {

            }
/* MOST POPULAR */
  .MP {

  }
    .MP h3 {

    }
    .MP ul {

    }
      .MP li {

      }
        .MP_img {

        }
        .MP_cont {

        }
        .MP_cont p {

        }

/* ACTIVITIES section */
  .Activities {

  }
    .Activities h3 {

    }
    .Acts {

    }
      .Act {

      }
        .A1 {

        }
          .A1 p {

          }
        .A2 {

        }
          .A2 p {

          }
        .A3 {

        }
          .A3 p {

          }
        .A4 {

        }
          .A4 p {

          }
        .A5 {

        }
          .A5 p {

          }
        .A6 {

        }
          .A6 p {

          }

/* FOOTER section */
  footer {

  }
    .foot_opt {

    }
      .list_1 {

      }
      .list_2 {

      }
      .list_3 {

      }
        .foot_opt ul {

        }
          .foot_opt li {

          }
            .foot_opt li > h3 {

            }
            .foot_opt li > a {

            }
